* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    margin: 0px; 
}

div {
    display: block;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.cabecario{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    z-index: 2;
}

.cabecario_container {
    display: grid;
    padding: 40px 32px;
    align-items: center;
    margin: 0 auto;
    max-width: 1278px;
    position: relative;
    grid-template-columns: 88px 1fr 114px 104px;
    column-gap: 20px;
}

.opcoes {
    background: transparent;
    font-weight: 400;
    color: #3e3e3e;
    font-size: 1rem;
    line-height: 1.25em;
    border-radius: 4px;
    margin: 3px 0;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0 20px;
}

.icone {
    display: inline-block;
    position:relative;
}

.icone * {
    fill: #ea1d2c;
}

.botao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size:100%;
    line-height: 1.15;
}

@media only screen and (min-width: 768px) {
    .botao{
        display: inline-flex;
        height: 44px;
    }
}

.navegacao {
    display: none;
} 

@media only screen and (min-width: 960px) {
    .navegacao {
        display: flex;
    }
}

.CriarConta {
    background: transparent;
    color: #ea1d2c;
}


.Entrar {
    background-color: #ea1d2c;
    color: white;
}

@media only screen and (min-width: 960px) {
    .Entrar:hover, .Entrar:hover:enabled {
        background: #ee4c58;
    }
}


.endereco {
    padding-top: 83px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: #f7f7f7;
}

@media only screen and (min-width: 768px) {
    .endereco {
        padding-top: 110px;
        padding-bottom: 35px;
    }
}

@media only screen and (min-width: 960px) {
    .endereco {
        padding-top: calc(136px + 4vh);
    }
}

.endereco_pacote {
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 842px;
}

.texto_busca {
    margin: 0 0 16px;
}

@media only screen and (min-width: 768px) {
    .texto_busca {
        margin: 0 0 14px;
    }
}

.endereco_subtitulo {
    font-size:  .875rem;
    font-weight: 400;
    color: #717171;
    max-width: 200px;
}

@media only screen and (min-width: 768px) {
    .endereco_subtitulo {
        max-width: none;
        margin-bottom: 40px;
        font-size: 1rem;
    }
}

.endereco_titulo {
    margin-top: 15px;
    font-size: 1.125rem;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .endereco_titulo {
        font-size: 2.25rem;
    }
}

.endereco_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .endereco_form {
        flex-direction: row;
        justify-content: space-between;
    }
}

.endereco_form_pacote {
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 14px;
    border: 1px solid #f2f2f2;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .endereco_form_pacote {
        width: 100%;
        margin-right: 20px;
    }
}

.endereco_form_campo {
    width: 100%;
    border-radius: 4px;
    height: 49px;
}

.endereco_icon {
    display: flex;
    width: 28px;
    margin-left: 5px;
    color: #ea1d2c;
}

@media only screen and (min-width: 768px) {
    .endereco_icon {
        margin: 0 16px;
        height: 25px;
    }
}

.endereco_input {
    padding-top: 4px;
    color: #a6a6a6;
    font-weight: 100;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

@media only screen and (min-width: 768px) {
    .endereco_input {
        margin-left: 4px;
    }
}

.endereco_form_botao {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    background-color: #ea1d2c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}

@media only screen and (min-width: 768px) {
    .endereco_form_botao {
        width: 168px;
    }
}

.endereco_input:focus {
    outline: none;
}

.endereco_form_pacote:focus-within {
    border: 2px solid #e7e6e6ee;
}

.categorias::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 50%;
    background-color: #f7f7f7;
    z-index: -1;
    left: 0;
    bottom: 50%;
    transform: translateY(-50%);
}

.categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.categorias_pacote {
    width: 90%;
    max-width: 842px;
}

.categorias_principais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .categorias_principais {
        height: 214px;
    }
}

.categorias_principais_grande {
    width: 48%;
    transition: opacity 1.5s ease;
    height: 100%;
    cursor: pointer;
}

.categorias_grande {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}

.restaurante {
    background-color: #ea1d2c;
    transition: all .2s cubic-bezier(0, 0, .5, 1);
}

.mercado {
    background-color: #b6d048;
    transition: all .2s cubic-bezier(0, 0, .5, 1);
}

.categorias_grande_container {
    width: 80%;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .categorias_grande_container {
        position: relative;
        display: flex;
        height: 100%;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}

.categorias_grande_container_titulo {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 10px;
}

@media only screen and (min-width: 768px) {
    .categorias_grande_container_titulo {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 960px) {
    .categorias_grande_container_titulo {
        font-size: 2.25rem;
    }
}

.categorias_grande_container_imagem {
    height: 75px;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .categorias_grande_container_imagem {
        overflow: visible;
        position: absolute;
        right: -14px;
        width: 62%;
        height: auto;
        bottom: 8px;
    }
}

.categorias_grande_imagem {
    object-fit: contain;
    resize: auto;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .categorias_grande_container_imagem {
        transform: translateY(16px);
    }
}

.categorias_grande_link {
    display: flex;
    width: 100%;
    height: 36px;
    border-radius: 12px;
    font-size: .875rem;
    justify-content: space-around;
    font-weight: 500;
    align-items: center;
    padding: 0 5px;
}

.--restaurante {
    background-color: #cc1825;
}

.--mercado {
    background-color: #9eb53e;
}

@media only screen and (min-width: 768px) {
    .categorias_grande_link {
        width: 118px;
        font-weight: 200;
        padding: 0 12px;
    }
}

@media only screen and (min-width: 960px) {
    .categorias_grande_link {
        width: 146px;
        font-weight: 500;
        font-size: 1rem;
    }
}

.categorias_grande_link_icon {
    display: flex;
}

.categorias_grande_link_icon svg {
    color: #fff;
    width: 15px;
    height: 17px;
}

.mini-categorias {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

/* CARD */
.mini-card {
    text-align: center;
    cursor: pointer;
}

/* BLOCO COLORIDO */
.mini-card::before {
    content: "";
    display: block;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: -30px;
}

/* CORES */
.amarelo::before {
    background: #e9c84a;
}

.rosa::before {
    background: #e57383;
}

.roxo::before {
    background: #7e57c2;
}


.mini-card img {
    height: 80px;
    position: relative;
    z-index: 1;
}


.mini-card p {
    margin-top: 10px;
    font-weight: 500;
}
